#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#canvas {
	background-color: rgb(242, 209, 168);
}


h1, h2, h3, h4, h5, h6, canvas * {
	font-family: cursive;
}

h2 {
	font-size: 1em;
}

input:disabled {
	background: rgba(0,0,0,.5);
	border-radius: 50%;
}

#titleCircle {
    width: 105px;
    height: 105px;
	margin: auto;
	margin-bottom: 20px;
}

.fractionLabel {
	color: #fff;
    position: absolute;
    font-size: 2em;
    background: transparent;
    top: 40%;
    left: 40%;
}

.titleLabel1 {
	top: -5%;
    left: 23%;
}

.titleLabel2 {
	top: 22%;
    left: 65%;	
}

.fraction {
	width: 100px;
	height: 100px;
	position: relative;
	background: linear-gradient(to right, rgb(195, 51, 163) 50%, rgb(46, 93, 255) 50%);
	border-radius: 50%;
	overflow: hidden;
	border: #fff solid 3px;
}

.fraction:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
}

.third:before {
    background: rgb(46, 93, 255);
    transform: rotate(-298.8deg);
}

.twoThird:before {
    background: rgb(195, 51, 163);
    transform: rotate(122.4deg);
}

.quarter:before {
    background: rgb(46, 93, 255);
    transform: rotate(-270deg);
}

.threeQuarter:before {
    background: rgb(195, 51, 163);
    transform: rotate(90deg);
}

#game {
	display: none;
	text-align: center;
	margin: auto;
    width: 80%;
}

#menu {
	text-align: center;
	margin: auto;
    width: 300px;
}

#gameOver {
	display: none;
	text-align: center;
	margin: auto;
    width: 300px;
}

#diffRadio, #amtRadio {
	padding: 10px;
}

.spacer {
	margin-right: 20px;
}

button {
    width: 100px;
	border-radius: 10px;
	border: 3px solid black;
}

#start {
	margin-top: 20px;
	background-color: rgb(57, 181, 74);
	border-color: rgb(39, 132, 52);
}

#check {
	background-color: rgb(112, 207, 215);
	border-color: rgb(69, 191, 178);
}

#replay {
	background-color: rgb(52, 127, 239);
	border-color: rgb(131, 180, 252);
}

#back {
	background-color: rgb(240, 100, 145);
	border-color: rgb(238, 50, 110);
}

.dragged {
	position: absolute;
	height: 40px !important;
	width: 50px !important;
}

ol.list {
	margin: auto;
    margin-top: 9px;
    margin-bottom: 9px;
	padding: 10px;
    min-height: 10px;
    background: rgb(225, 186, 148);
	border-radius: 5px;
    list-style-type: none;
	overflow: hidden;
}

ol.list li {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 3px solid #fff;
    color: #fff;
    background: rgb(246, 157, 53);
	border-radius: 5px;
	width: 50px;
	height: 40px;
	font-size: 2em;
	float: left;
}
li p {
	margin: inherit;
	vertical-align: middle;
}

ol.list li.placeholder {
	background: rgba(255, 255, 255, .5);
	border: 3px dashed #c3c3c3;
}
ol.list li.placeholder:before {
	position: absolute;
}

.value {
	display: none;
}

span.frac {
  display: inline-block;
  font-size: 50%;
  text-align: center;
}
span.frac > sup {
  display: block;
  border-bottom: 1px solid;
  font: inherit;
}
span.frac > span {
  display: none;
}
span.frac > sub {
  display: block;
  font: inherit;
}