/* Sugar CSS */

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

/* App CSS */

#help-button {
	background-image: url(../activity/help-icon.svg);
}

#canvas {
	background-color: rgb(242, 209, 168);
	background-image: url(../assets/woodPattern.png);
}

#game {
	display: none;
	text-align: center;
	margin: auto;
    width: 80%;
}

#menu {
	text-align: center;
	margin: auto;
    width: 300px;
}

#gameOver {
	display: none;
	text-align: center;
	margin: auto;
    width: 300px;
}

#help {
	width: 400px;
    text-align: center;
    border-radius: 10px;
    padding: 3px 20px;
    background-color: rgb(52, 127, 239);
    border: 3px solid rgb(131, 180, 252);
    color: #fff;
    position: fixed;
    top: 30%;
    left: 50%;
	margin-left: -200px;
	display: none;
	z-index: 10;
}

#cover{ 
	position: fixed; 
	top: 0; 
	left: 0;
	background: rgba(0,0,0,0.6); 
	width: 100%; 
	height: 100%; 
	display: none; 
	z-index: 5;
}

h1, h2, h3, h4, h5, h6, canvas * {
	font-family: cursive;
}

h2 {
	font-size: 1em;
}

h3 {
	margin: 0px;
}

h4 {
	font-size: 1.5em;
}

h5 {
	margin: 10px;
	font-size: 1.5em;
}

button {
    width: 100px;
	border-radius: 10px;
	border: 3px solid black;
	color: #fff;
	cursor: pointer;
}

button:active {
	color: #fff;
}

button:hover {
	color: #fff;
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
	transition-timing-function: ease-out;
}

#start {
	margin-top: 20px;
	background-color: rgb(57, 181, 74);
	border-color: rgb(39, 132, 52);
}
#start:hover {
	background-color: rgb(39, 132, 52);
	border-color: rgb(57, 181, 74);
}

#check {
	background-color: rgb(112, 207, 215);
	border-color: rgb(69, 191, 178);
}
#check:hover {
	border-color: rgb(112, 207, 215);
	background-color: rgb(69, 191, 178);
}
#check:disabled {
	background-color: rgb(171, 204, 206);
	border-color: rgb(137, 174, 171);
}

#replay {
	background-color: rgb(52, 127, 239);
	border-color: rgb(131, 180, 252);
}
#replay:hover {
	border-color: rgb(52, 127, 239);
	background-color: rgb(131, 180, 252);
}

#back, #close {
	background-color: rgb(240, 100, 145);
	border-color: rgb(238, 50, 110);
}
#back:hover, #close:hover {
	border-color: rgb(240, 100, 145);
	background-color: rgb(238, 50, 110);
}

/* Menu CSS */

#diffRadio, #amtRadio {
	padding: 10px;
}

input[type=radio]:hover::before {
	background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    content: '';
    display: block;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 30%;
}

input[type=radio]:disabled {
	background: rgba(0,0,0,.5);
	border-radius: 50%;
}

#titleCircle {
    width: 105px;
    height: 105px;
	margin: auto;
	margin-bottom: 20px;
}

.fractionLabel {
	color: #fff;
    position: absolute;
    font-size: 2em;
    background: transparent;
    top: 40%;
    left: 40%;
}

.titleLabel1 {
	top: -5%;
    left: 23%;
	color: rgb(246, 157, 53);
}

.titleLabel2 {
	top: 22%;
    left: 65%;	 
}

.titleFrac, .titleFrac .amtCircle.over50 {
	border: #fff solid 3px;	
}

/* Pie Chart */

.fraction {
	width: 100px;
	height: 100px;
	position: relative;
	background: linear-gradient(to right, #fff 50%, rgb(246, 157, 53) 50%);
	border-radius: 50%;
	overflow: hidden;
	border: #fff solid 2px;	
}

.cardFrac {
	width: 30px;
	height: 30px;
	margin: auto;
}

.amtCircle {
    background: rgb(246, 157, 53);
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
}

.amtCircle.over50 {
    background: #fff !important;
}

.f0 {
    background: rgb(246, 157, 53); !important;
}
.f100 {
    background: #fff !important;
}

/* Static Card Pie Chart CSS */

.static .fraction {
	background: linear-gradient(to right, #fff 50%, rgb(99, 69, 230) 50%);	
}
.static .fraction.f0 {
	background: rgb(99, 69, 230) !important;	
}
.static .fraction .amtCircle {
    background: rgb(99, 69, 230);	
}

/* Card CSS */

.spacer {
	margin-right: 20px;
}

.dragged {
	position: absolute;
	height: 40px !important;
	width: 50px !important;
	z-index: 1;
}

.dragged.static{
	position: relative !important;
	height: 40px !important;
	width: 50px !important;
	top: 0px !important;
	left: 0px !important;
}

ol.list {
	margin: auto;
    margin-top: 9px;
    margin-bottom: 9px;
	padding: 10px;
    min-height: 10px;
    background: rgb(225, 186, 148);
	border-radius: 5px;
    list-style-type: none;
	overflow: hidden;
}

ol.list li , .static {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 3px solid #fff;
    color: #fff;
    background: rgb(246, 157, 53);
	border-radius: 5px;
	width: 50px;
	height: 40px;
	font-size: 2em;
	float: left;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

ol.list .static {
    background: rgb(99, 69, 230);
	cursor: initial;
}

ol.list li:hover {
  -webkit-transform:translate(0px,-10px);
  -moz-transform:translate(0px,-10px);
  -ms-transform:translate(0px,-10px);
  -o-transform:translate(0px,-10px);
  transform:translate(0px,-10px);
  box-shadow: 0px 10px 5px rgba(108, 108, 108, 0.5);
}

li p , .static p{
	margin: inherit;
	vertical-align: middle;
}

ol.list li.placeholder {
	background: rgba(255, 255, 255, .5);
	border: 3px dashed #c3c3c3;
	box-shadow: none;
}

.value {
	display: none;
}

.fracImg {
	height: 30px;
}

/* Fraction CSS */

span.frac {
  display: inline-block;
  font-size: 50%;
  text-align: center;
}
span.frac > sup {
  display: block;
  border-bottom: 1px solid;
  font: inherit;
}
span.frac > span {
  display: none;
}
span.frac > sub {
  display: block;
  font: inherit;
}

/* Timer CSS*/
#timerElement{
    display: none;
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 1.2em;
}